@import url('https://fonts.googleapis.com/css2?family=Ubuntu');


*{
    box-sizing: border-box;


}

body{
    font-family: Ubuntu, sans-serif;
    height: 100vh;
    width: 100vw;
    display:flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.bg{
    background:url('https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    z-index: -1;
    height:calc(100vh + 60px);
    width:calc(100vw + 60px);
    position: absolute;
    top:-30px;
    bottom: -30px;
    filter:blur(0px);

}
.loadText{
    font-size:50px;
    color:#ffff;
}